<div class="row">
  <div class="col-md-8">
    <div class="user-login-form">
      <h2>会员注册<span class="reg-tip">赠送10元积分下单可抵扣</span></h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        }) do |f| %>
          
          <%= f.input :mobile, label: "手机", placeholder: "请输入11位正确的手机号", hint: "以便我们送货时联系您", input_html: { style: "width:300px;" } %>
          <%= f.input :email, label: "邮箱", placeholder: "example@foo.com", hint: "密码忘记时，可以通过您的邮箱找回", input_html: { style: "width:300px;" } %>
          <%= f.input :password, label: "密码", placeholder: "密码至少6位", input_html: { style: "width:300px;" } %>
          <%= f.input :password_confirmation, label: "确认密码", placeholder: "请确保两次密码输入一致", input_html: { style: "width:300px;" } %>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-success">注册</button>
            </div>
          </div>
      
      <% end %>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="user-reg-info">
      <h3>已经是水果社会员？</h3>
      <%= link_to "立即登录", new_user_session_path, class: "btn btn-success" %>
    </div>
  </div>
</div>