<div class="home-ads-container clearfix">
  <%= render "home/carousel_ads" %>
  <div class="pull-right sidebar-ad-container">
    <%= image_tag 'sidebar_ad.jpg', style: "width: 300px; height: 341px;" %>
  </div>
</div>

<div class="row home-content-box">
  <div class="col-md-9">
    <% if @suggest_products.any? %>
      <% cache cache_key_for('home_suggest_products', @suggest_products) do %>
        <div class="content-box">
          <h2>推荐订购</h2>
          <%= render_grid_for @suggest_products %>
        </div>
      <% end %>
    <% end %>
    <% if @products.any? %>
    <% cache cache_key_for('home_hot_products', @products) do %>
    <div class="content-box">
      <h2>热门订购</h2>
      <%= render_grid_for @products %>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="sidebar-right">
      <%= render 'newsblasts/newsblasts_list' %>
      <%= render 'sidebar_ads/ads_list' %>
    </div>
  </div>
</div>
