<div id="carousel-ads" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @banners.each_with_index do |banner, index| %>
      <li data-target="#carousel-ads" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @banners.each_with_index do |banner, index| %>
    <div class="item <%= index == 0 ? "active" : "" %>">
      <%= render_banner_image(banner) %>
      <div class="carousel-caption">
        
      </div>
    </div>
    <% end %>
  </div>
  
</div>

<div class="row home-content-box">
  <div class="col-md-9">
    <% if @suggest_products.any? %>
    <div class="content-box">
      <h2>推荐区</h2>
      <%= render_grid_for @suggest_products %>
    </div>
    <% end %>
    <% if @products.any? %>
    <div class="content-box">
      <h2>热门订购</h2>
      <%= render_grid_for @products %>
    </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="sidebar-right">
      <%= render 'newsblasts/newsblasts_list' %>
      <%= render 'sidebar_ads/ads_list' %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script>
//   $(document).ready(function(){
//     $(".carousel-indicators").show({delay:500});
//   });
</script>
<% end %>

