<div class="home-ads-container">
  <% cache cache_key_for('carousel_ads', @banners) do %>
  <div id="carousel-ads" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <% if @banners.size > 1 %>
    <ol class="carousel-indicators">
      <% @banners.each_with_index do |banner, index| %>
          <li data-target="#carousel-ads" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
      <% end %>
    </ol>
    <% end %>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @banners.each_with_index do |banner, index| %>
        <% cache(banner) do %>
        <div class="item <%= index == 0 ? "active" : "" %>">
          <%= render_banner_image(banner) %>
          <div class="carousel-caption">
            
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>
  <% end %>
</div>

<% if mobile? %>
<div class="container">
  <div class="row sales">
    <% @sales.each_with_index do |sale,index| %>
    <div class="col-xs-6 <%= index % 2 == 0 ? "last" : "" %>">
      <div class="sale">
        <%= sale.title %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>

<% if not mobile? %>
<% if @discounted_products.any? %>
<div class="home-today-products-container">
  <h2>今日特卖区</h2>
  <div class="home-discount-products">
    <div class="row">
      <% cache cache_key_for('home_discount_products', @discounted_products) do %>
        <% @discounted_products.each do |product| %>
          <% cache product do %>
          <div class="col-xs-4 col-md-4">
            <a href="<%= product_path(product) %>" title="<%= product.title %>" class="product-link" target="_blank">
              <div class="item clearfix">
                <div class="info pull-right">
                  <div class="title"><%= product.title %></div>
                  <div class="purchased">已售<span class="numeric green"><%= product.orders_count %></span>件</div>
                  <div class="price">
                    <span class="numeric green"><%= product_price_tag(product.low_price) %></span>
                    <span class="text-muted"><del><%= product_price_tag(product.origin_price) %></del></span>
                    <span class="text-muted">（<%= product.units %>）</span>
                  </div>
                  <div class="countdown" data-countdown="<%= product.discounted_at.strftime("%Y-%m-%d %H:%M:%S") %>"></div>
                </div>
                <%= image_tag product.image.url(:thumb), alt: product.title %>
              </div>
            </a>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>


<div class="row home-content-box">
  <div class="col-md-9">
    <% if @products.any? %>
    <% cache cache_key_for('home_hot_products', @products) do %>
    <div class="content-box">
      <h2>热门预订</h2>
      <%= render_grid_for @products %>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="sidebar-right">
      <div class="newsblasts-list sidebar-right-box trust">
        <h2>为什么选择水果社？</h2>
        <ul>
          <li><span class="symbol">◆</span> 省时：快捷预订，货到付款</li>
          <li><span class="symbol">◆</span> 省心：科学搭配，当季水果</li>
          <li><span class="symbol">◆</span> 省钱：略过门店成本，价格更优</li>
          <li><span class="symbol">◆</span> 保质：不满意可以拒绝签收</li>
        </ul>
      </div>
      <%= render 'newsblasts/newsblasts_list' %>
      <%= render 'sidebar_ads/ads_list' %>
    </div>
  </div>
</div>

<% end %>
<% content_for :scripts do %>
<script>
$(function() {
  $(".countdown").each(function(idx, item) {
    var $item = $(item);
    var name = '剩余';
    $item.countdown($item.data('countdown'), function(event) {
      $(this).html(event.strftime(name + '%D天%H小时%M分%S秒'));
    });
  });
});

$(function() {
  $('.carousel').carousel({
    interval: 4000
  });
});

</script>

<% end %>
