<% content_for :home_banner do %>
  <div class="home-ads-container">
    <% cache cache_key_for('carousel_ads', @banners) do %>
    <div id="carousel-ads" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <% if @banners.size > 1 %>
      <ol class="carousel-indicators">
        <% @banners.each_with_index do |banner, index| %>
            <li data-target="#carousel-ads" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
        <% end %>
      </ol>
      <% end %>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @banners.each_with_index do |banner, index| %>
          <% cache(banner) do %>
          <div class="item <%= index == 0 ? "active" : "" %>">
            <%= render_banner_image(banner) %>
            <div class="carousel-caption">
    
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

    </div>
    <% end %>
  </div>
<% end %>

<% if @discounted_products.any? %>
<div class="content-box">
  <h2>每周特惠<span class="f14 text-muted">（限周六、日配送）</span></h2>
  <div class="home-discount-products">
    <div class="row">
      <% cache cache_key_for('home_discount_products', @discounted_products) do %>
        <% @discounted_products.each do |product| %>
          <% cache product do %>
          <div class="col-xs-4 col-md-4">
            <a href="<%= product_path(product) %>" class="product-link">
              <div class="item clearfix">
                <div class="info pull-right">
                  <div class="title"><%= product.title %></div>
                  <div class="purchased">已售<span class="numeric green"><%= product.orders_count %></span>件</div>
                  <div class="price">
                    <span class="numeric green"><%= product_price_tag(product.low_price) %></span>
                    <span class="text-muted"><del><%= product_price_tag(product.origin_price) %></del></span>
                    <span class="text-muted">（<%= product.units %>）</span>
                  </div>
                  <div class="countdown" data-countdown="<%= product.discounted_at.strftime("%Y-%m-%d %H:%M:%S") %>"></div>
                </div>
                <%= image_tag product.image.url(:thumb) %>
              </div>
            </a>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div class="home-content-box clearfix">
  <div class="sale-items-container">
    <h2>鲜果专卖区</h2>
    <div class="items">
      <%= render @sales %>
    </div>
  </div>
  <div class="side-col">
    <div class="sidebar-right">
      <div class="trust sidebar-right-box">
        <%= image_tag 'trust.jpg', alt: "trust" %>
      </div>
      <%= render 'newsblasts/newsblasts_list' %>
      <%= render 'sidebar_ads/ads_list' %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script>
$(function() {
  $(".countdown").each(function(idx, item) {
    var $item = $(item);
    var name = '剩余';
    $item.countdown($item.data('countdown'), function(event) {
      $(this).html(event.strftime(name + '%D天%H小时%M分%S秒'));
    });
  });
});

$(function() {
  $('.carousel').carousel({
    interval: 4000
  });
});

</script>

<% end %>
