<div class="home-ads-container clearfix">
  <%= render "home/carousel_ads" %>
  <div class="pull-right sidebar-ad-container">
    <%= image_tag 'sidebar_ad.jpg', style: "width: 300px; height: 341px;" %>
  </div>
</div>

<div class="home-content-box clearfix">
  <div class="sale-items-container">
    <h2>鲜果专卖区</h2>
    <div class="items">
      <%= render @sales %>
    </div>
  </div>
  <div class="side-col">
    <div class="sidebar-right">
      <%= render 'newsblasts/newsblasts_list' %>
      <%= render 'sidebar_ads/ads_list' %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script>
$(function() {
  $(".countdown").each(function(idx, item) {
    var $item = $(item);
    var name = '剩余';
    $item.countdown($item.data('countdown'), function(event) {
      $(this).html(event.strftime(name + '%D天%H小时%M分%S秒'));
    });
  });
});

$(function() {
  $('.carousel').carousel({
    interval: 4000
  });
});

</script>

<% end %>
