<% cache cache_key_for('carousel_ads', @banners) do %>
<div id="carousel-ads" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @banners.each_with_index do |banner, index| %>
      <li data-target="#carousel-ads" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @banners.each_with_index do |banner, index| %>
    <% cache(banner) do %>
    <div class="item <%= index == 0 ? "active" : "" %>">
      <%= render_banner_image(banner) %>
      <div class="carousel-caption">
        
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  
</div>
<% end %>

<div class="row home-content-box">
  <div class="col-md-9">
    <% if @suggest_products.any? %>
    <% cache cache_key_for('home_suggest_products', @suggest_products) do %>
    <div class="content-box">
      <h2>推荐订购</h2>
      <%= render_grid_for @suggest_products %>
    </div>
    <% end %>
    <% end %>
    <% if @products.any? %>
    <% cache cache_key_for('home_hot_products', @products) do %>
    <div class="content-box">
      <h2>热门订购</h2>
      <%= render_grid_for @products %>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="sidebar-right">
      <%= render 'newsblasts/newsblasts_list' %>
      <%= render 'sidebar_ads/ads_list' %>
    </div>
  </div>
</div>
