<div class="user-box">
  <h2>订购流程</h2>
  <section>
    <div class="help-item">
      <p>1、点击页面顶部"注册", 进入注册页面；</p>
      <%= image_tag 'help/reg_help.png' %>
    </div>
    
    <div class="help-item">
      <p>2、填写账户名、密码等个人信息进行注册，点击"注册"，完成注册。请在注册时务必详细填写个人信息；</p>
      <%= image_tag 'help/reg2_help.png' %>
    </div>
    
    <div class="help-item">
      <p>3、浏览要订购的商品，点击"立即预订"，进入"开始下单页面"；</p>
      <%= image_tag 'help/prepare_order_help.png' %>
    </div>
    
    <div class="help-item">
      <p>4、在"开始下单"页面详细填写订购信息，然后点击"确认下单"，完成下单。另外可以点击"保存到配送设置"按钮将你的配送地址保存，下次可以不用再设置；</p>
      <%= image_tag 'help/order_help.png', style: "width: 750px;" %>
    </div>
    
    <div class="help-item">
      <p>5、下单完成后，页面自动跳转到"我的订单"页，你可以查看你的订单情况。同时你也可以点击"取消订单"按钮进行订单取消；</p>
      <%= image_tag 'help/incompleted_order.png', style: "width: 750px;" %>
    </div>
    
    <div class="help-item">
      <p>6、可以通过点击"我的账户"或"我的水果社"进入我的个人主页，可以查看今日需要配送的订单</p>
      <%= image_tag 'help/view_today_order.png', style: "width: 750px;" %>
    </div>
    
  </section>
</div>