<div class="user-box">
  <h2>订购流程</h2>
  <section class="help-detail-section">
    <div class="help-item">
      <p>1、点击页面顶部"注册", 进入注册页面；</p>
      <%= image_tag 'help/reg_help.png' %>
    </div>
    
    <div class="help-item">
      <p>2、填写账户名、密码等个人信息进行注册，点击"注册"，完成注册。请在注册时务必详细填写个人信息；</p>
      <%= image_tag 'help/reg2_help.png', style: "width: 600px;" %>
    </div>
    
    <div class="help-item">
      <p>3、可以通过首页的鲜果专卖区去选购产品</p>
      <%= image_tag 'help/prepare_order_help.png', style: "width: 600px;" %>
    </div>
    
    <div class="help-item">
      <p>4、也可以通过导航条上的水果或干果分类去选购产品</p>
      <%= image_tag 'help/prepare_order_help2.png' %>
    </div>
    
    <div class="help-item">
      <p>5、将选好的产品加入购物车，然后提交订单</p>
      <%= image_tag 'help/order_help.png' %>
    </div>
    
    <div class="help-item">
      <p>6、进入开始下单页面，填写配送相关的信息，然后点击"确认下单"</p>
      <%= image_tag 'help/order_info_help1.png' %>
      <p>6-1、支持配送给自己和配送给别人</p>
      <%= image_tag 'help/order_info_help2.png' %>
      <p>6-2、支持积分抵扣消费</p>
    </div>
    
    <div class="help-item">
      <p>7、下单完成后，页面自动跳转到"我的未完成订单"，你可以查看你的订单最新状态。</p>
      <%= image_tag 'help/incompleted_order1.png' %>
      <p>7-1、也可以查看某个订单订购的产品情况。通过点击“查看订单下的商品” </p>
      <%= image_tag 'help/incompleted_order2.png' %>
      <p>7-2、进入该订单下订购的产品列表页</p>
      <%= image_tag 'help/incompleted_order3.png' %>
      <p>7-3、也可以取消某个订单，但需要注意，必须该订单状态为“待配送”</p>
      <%= image_tag 'help/incompleted_order4.png' %>
    </div>
    
    <div class="help-item">
      <p>8、可以通过点击"我的账户"或"我的水果社"进入我的个人主页 </p>
      <%= image_tag 'help/my_profile.png', style: "width: 600px;" %>
    </div>
    
  </section>
</div>