<% if @current == '/incompleted' %>
<div style="background-color: #eee; margin-bottom: 5px; padding: 10px 10px 10px 0; text-align:right">
  <% 
  sum = 0
  @orders.each do |o|
    sum += o.total_price
  end
   %>
  <span class="muted">合计：</span>￥<span style="color:red;font-size:16px; font-weight: bold"><%= sum %></span>
</div>
<% end %>

<table class="table ">
  <thead>
    <tr>
      <th>订单信息</th>
      <th>单价(元/斤)</th>
      <th>重量(斤)</th>
      <th>实付款(元)</th>
      <th>下单日期</th>
      <th>订单状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% if @orders.empty? %>
      <tr>
        <td colspan="7">
          <div class="text-center">没有记录!</div>
        </td>
      </tr>
    <% else %>
      <% @orders.each do |order| %>
      <tr class="order-info">
        <td colspan="7" style="text-align:left;">
          订单号：<%= order.order_no %>
        </td>
      </tr>
      <tr>
        <td>
          <div class="product-info">
            <%= image_tag order.product.image_url(:small), alt: order.product.title %>
            <p class="text-center"><%= order.product.title %></p>
          </div>
        </td>
        <td>￥<%= order.product.origin_price %></td>
        <td><%= order.quantity %></td>
        <td>￥<%= order.total_price %></td>
        <td><%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= render_order_state(order) %></td>
        <td>
          <% if @current == '/incompleted' and order.can_cancel? and Time.now.strftime("%Y-%m-%d %H:%M:%S") < order.created_at.strftime("%Y-%m-%d 23:59:59") and owner?(order) %>
            <a href="javascript:;" onclick="App.cancelOrder(this)" data-remote="true" data-current="<%= action_name %>" data-id="<%= order.id %>" class="btn btn-danger btn-sm">取消订单</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="text-center"><%= will_paginate @orders %></div>