<p>收货人手机：<%= @order.user_mobile %></p>
<p>配送地址：<%= @order.user_apartment_name %></p>
<p>订单总额：￥<%= number_with_precision(@order.total_price, precision: 2) %> 抵扣：-￥<%= number_with_precision(@order.discount_price, precision: 2) %></p>
<p>下单日期：<%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
<p>下单人：<%= @order.user.mobile %></p>