<% cache(product) do %>
<div class="product">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag product.image.thumb, alt: product.title %>
      <div class="caption">
        <h3><%= product.title %></h3>
        <p>已经有6人预订</p>
        <p>当前价：<%= product.origin_price %> 元/斤</p>
        <p>最低价：<%= product.low_price %> 元/斤</p>
        <p><%= link_to "立即预订", new_product_order_path(product), class: "btn btn-success", role: "button" %></p>
      </div>
    </div>
  </div>
</div>
<% end %>