<% cache @product do %>
<div class="user-box">
  <h2 style="margin-bottom: 10px;">开始下单</h2>
  <div class="product-info">
    <h3><%= @product.title %></h3>
    <div class="product-intro">
      <%= @product.intro %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @product.image_url(:thumb) %>
      <div class="text-center">
        <div>
          <span class="green">￥<span class="f30 price-numeric"><%= number_with_precision(@product.low_price, precision: 2) %></span></span>
          <span class="text-muted f16"><del>￥<%= number_with_precision(@product.origin_price, precision: 2) %></del></span>
          <span class="text-muted">（<%= @product.units %>）</span>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <%= render "products/order_form" %>
    </div>
  </div>
</div>
<% end %>

<% content_for :scripts do %>
<script>

function updateButtonState() {
  var select = $("#order_apartment_id");
  if (select.val() == '') {
    $("#save_address").attr("disabled", true);
  } else {
    $("#save_address").removeAttr("disabled");
  }
}

updateButtonState();

</script>
<% end %>