<div class="user-box container-box">
  <h2 style="margin-bottom: 10px;">开始预订</h2>
  <div class="product-info">
    <h3><%= @product.title %></h3>
    <div class="product-intro">
      <%= @product.intro %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @product.image_url(:thumb) %>
      <div class="text-center">
        <div>
          <span class="green">￥<span class="f30 price-numeric"><%= number_with_precision(@product.low_price, precision: 2) %></span></span>
          <span class="text-muted f16"><del>￥<%= number_with_precision(@product.origin_price, precision: 2) %></del></span>
          <span class="text-muted">（<%= @product.units %>）</span>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <%= render "products/order_form" %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script>

function updateButtonState() {
  var select = $("#order_apartment_id");
  if (select.val() == '') {
    $("#save_address").attr("disabled", true);
  } else {
    $("#save_address").removeAttr("disabled");
  }
}


$(function() {
  
  <% if @product.discounted_at %>
  $("#timeLeft").countdown("<%= @product.discounted_at.strftime("%Y-%d-%m %H:%M:%S") %>")
    .on('update.countdown', function(event) {
      $(this).html(event.strftime('&nbsp;&nbsp;剩余' + '%D天%H小时%M分%S'));
    })
    .on('finish.countdown', function(event) {
      $("#submit-button").attr("disabled", true);
      $("#submit-button").attr("class", "btn btn-warning");
      $("#submit-button").text("活动已结束,不支持预订");
      $(this).text("");
    });
  <% end %>
  

});

</script>
<% end %>