<% content_for :sitemap do %>
  <% if @product.sale.present? %>
    <a href="<%= sale_path(@product.sale) %>" title="<%= @product.sale.title %>"><%= @product.sale.title %></a> &gt; <span class="current"><%= @product.title %></span>
  <% else %>
    <a href="<%= category_items_path(@product.type_id) %>" title="<%= @type %>"><%= @type %></a> &gt; <span class="current"><%= @product.title %></span>
  <% end %>
<% end %>

<div class="user-box container-box" id="product-<%= @product.id %>">
  <div class="product-info">
    <h3><%= @product.title %></h3>
    <div class="product-intro">
      <%= @product.intro %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag @product.image_url(:large), alt: @product.title %>
    </div>
    <div class="col-sm-7 product-detail">
      <div class="item-line green f30 price-numeric">
        ￥<%= product_price_tag(@product.low_price) %>
      </div>
      <div class="item-line">
        <div class="pull-right green f16">
          <span id="timeLeft"></span>
        </div>
        <span class="text-muted f16"><del>市场价￥<%= product_price_tag(@product.origin_price) %></del></span>
      </div>
      <div class="item-line subtitle">
        <%= render_discount_score(@product) %>
      </div>
      <div class="item-line">
        <span class="text-muted f16">规格：<%= @product.units %></span>
      </div>   
      <div class="item-line text-muted f14">
        配送：<%= render_deliver_info(@product) %>
      </div>
      <div class="item-line text-muted f16">已售<span class="green price-numeric f24"><%= @product.orders_count %></span>件</div>
      <%= add_to_cart_tag @product, "btn btn-success" %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
<script>

// function updateButtonState() {
//   var select = $("#order_apartment_id");
//   if (select.val() == '') {
//     $("#save_address").attr("disabled", true);
//   } else {
//     $("#save_address").removeAttr("disabled");
//   }
// }


$(function() {
  
  <%
    @time = @product.discounted_at || @product.sale.try(:closed_at)
   %>
  
  <% if @time %>
  $("#timeLeft").countdown("<%= @time.strftime("%Y-%m-%d %H:%M:%S") %>")
    .on('update.countdown', function(event) {
      $(this).html(event.strftime('<span class="glyphicon glyphicon-time"></span>' + '&nbsp;&nbsp;剩余' + '%D天%H小时%M分%S秒'));
    })
    .on('finish.countdown', function(event) {
      $el = $("#item-<%= @product.id %>");
      $el.attr("disabled", true);
      $el.attr("class", "btn btn-warning");
      $el.text("活动已结束,不支持预订");
      $(this).text("");
    });
  <% end %>
  

});

</script>
<% end %>