<% if mobile? %>
  <% content_for :left_bar_button do %>
    <a onclick="javascript:history.go(-1)" class="navbar-button left back"></a>
  <% end %>

  <% content_for :right_bar_button do %>
    <a href="<%= root_path %>" class="navbar-button right home"></a>
  <% end %>
  
  <div class="container">
    <div class="product-detail">
      <div class="large-image">
        <%= image_tag @product.image_url(:large), alt: @product.title, class: "img-responsive" %>
      </div>
      <h1 class="title"><%= @product.title %></h1>
      
      <div class="price-extra">
        <div class="row">
          <div class="col-xs-6">
            <span class="low-price">￥<%= product_price_tag(@product.low_price) %></span>
            <span class="origin-price"><del>￥<%= product_price_tag(@product.origin_price) %></del></span>
          </div>
          <div class="col-xs-6 time-left">
            <span id="timeLeft"></span>
          </div>
        </div>
      </div>

      <div class="extra-info">
        <div class="item-line score">
          <%= render_discount_score(@product) %>
        </div>
        <div class="item-line">
          规格：<span class="text-muted"><%= @product.units %></span>
        </div>   
        <div class="item-line">
          <span class="text-muted small"><%= render_deliver_info(@product) %></span>
        </div>
        <div class="item-line">已售<span class="price-numeric"><%= @product.orders_count %></span>件</div>
      </div>
      
      <div class="extra-summary">
        <% if @product.intro.present? %>
          <div class="item-extra-info">
            <h2>商品简介</h2>
            <p><%= @product.intro %></p>
          </div>
        <% end %>
        <% if @product.note.present? %>
          <div class="item-extra-info">
            <h2>温馨提示</h2>
            <p><%= @product.note %></p>
          </div>
        <% end %>
  
        <% if @product.summary_image.present? %>
          <div class="item-extra-info">
            <%= image_tag @product.summary_image.url(:normal), class: "img-responsive" %>
          </div>
        <% end %>
      </div>
      
    </div>
    
  </div>
  
  <div class="bottom-buttons">
    <div class="row">
      <div class="col-xs-6 button-container first">
        <a href="<%= show_cart_path %>" class="show-cart"></a>
      </div>
      <div class="col-xs-6 button-container">
        <a onclick="App.addToCart(this)" data-product-id="<%= @product.id %>" id="item-<%= @product.id %>" data-loading="0">加入购物车</a>
      </div>
    </div>
  </div>
  
<% else %>

<% content_for :sitemap do %>
  <% if @product.sale.present? %>
    <a href="<%= sale_path(@product.sale) %>" title="<%= @product.sale.title %>"><%= @product.sale.title %></a> &gt; <span class="current"><%= @product.title %></span>
  <% else %>
    <a href="<%= category_items_path(@product.type_id) %>" title="<%= @type %>"><%= @type %></a> &gt; <span class="current"><%= @product.title %></span>
  <% end %>
<% end %>

<div class="product-container-box" id="product-<%= @product.id %>">
  <h1 class="f18"><%= @product.title %></h1>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag @product.image_url(:large), alt: @product.title, class: "img-responsive" %>
    </div>
    <div class="col-sm-7 product-detail">
      <div class="item-line green f30 price-numeric">
        ￥<%= product_price_tag(@product.low_price) %>
      </div>
      <div class="item-line">
        <div class="pull-right green f16">
          <span id="timeLeft"></span>
        </div>
        <span class="text-muted f16"><del>市场价￥<%= product_price_tag(@product.origin_price) %></del></span>
      </div>
      <div class="item-line subtitle">
        <%= render_discount_score(@product) %>
      </div>
      <div class="item-line">
        <span class="text-muted f16">规格：<%= @product.units %></span>
      </div>   
      <div class="item-line text-muted f14">
        配送：<%= render_deliver_info(@product) %>
      </div>
      <div class="item-line text-muted f16">已售<span class="green price-numeric f24"><%= @product.orders_count %></span>件</div>
      <%= add_to_cart_tag @product, "btn btn-success" %>
    </div>
  </div>
  
  <div class="product-info">
    <% if @product.intro.present? %>
    <div class="product-intro">
      <h2 class="f16">商品简介</h2>
      <p><%= @product.intro %></p>
    </div>
    <% end %>
    <% if @product.note.present? %>
      <div class="product-note">
        <h2 class="f16">温馨提示</h2>
        <p><%= @product.note %></p>
      </div>
    <% end %>
  </div>
  
  <% if @product.summary_image.present? %>
  <div class="summary-image">
    <%= image_tag @product.summary_image.url(:normal) %>
  </div>
  <% end %>
</div>

<% end %>

<% content_for :scripts do %>
<script>

$(function() {
  
  <%
    @time = @product.discounted_at || @product.sale.try(:closed_at)
   %>
  
  <% if @time %>
  $("#timeLeft").countdown("<%= @time.strftime("%Y-%m-%d %H:%M:%S") %>")
    .on('update.countdown', function(event) {
      $(this).html(event.strftime('<span class="glyphicon glyphicon-time"></span>' + '&nbsp;&nbsp;剩余' + '%D天%H小时%M分%S秒'));
    })
    .on('finish.countdown', function(event) {
      $el = $("#item-<%= @product.id %>");
      $el.attr("disabled", true);
      $el.attr("class", "btn btn-warning");
      $el.text("活动已结束,不支持预订");
      $(this).text("");
    });
  <% end %>
  

});

</script>
<% end %>