<% cache @product do %>
<div class="user-box">
  <h2 style="margin-bottom: 10px;">开始下单</h2>
  <div class="product-info">
    <h3><%= @product.title %></h3>
    <div class="product-intro">
      <%= @product.intro %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @product.image_url(:thumb) %>
      <div class="text-center">
        <div class=""><span class="green f30 price-numeric"><%= @product.low_price %></span>&nbsp;<span class="f14">元/斤</span></div>
        <div class="text-muted f16"><del>市场价<%= @product.origin_price %>&nbsp;元/斤</del></div>
      </div>
    </div>
    <div class="col-md-9">
      <%= render "products/order_form" %>
    </div>
  </div>
</div>
<% end %>

<% content_for :scripts do %>
<script>

function updateButtonState() {
  var select = $("#order_apartment_id");
  if (select.val() == '') {
    $("#save_address").attr("disabled", true);
  } else {
    $("#save_address").removeAttr("disabled");
  }
}

updateButtonState();

</script>
<% end %>