<div class="row">
  
  <div class="col-md-12 col-xs-12">
    <% if @today_orders.any? %>
    <div class="page-head">
      <h2 style="font-size: 18px;">待配送订单（<%= @today_orders.size %>）</h2>
    </div>
    <% end %>
    <% @today_orders.each do |order| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          订单号：<%= order.order_no %>
        </h3>
      </div>
      <div class="panel-body">
        
        <div class="orders">
          <table class="table table-responsive">
            <% order.line_items.each_with_index do |item,index| %>
            <tr>
              <td>
                <div class="item-extra-info">
                  <%= image_tag item.product.image.url(:small), class: "img-responsive pull-left" %>
                  <div style="margin-left: 70px">
                    <h4><%= item.product.title %></h4>
                    <p>￥<%= product_price_tag(item.product.low_price) %>（<%= item.product.units %>） × <%= item.quantity %></p>
                  </div>
                  
                </div>
              </td>
              <td>
                ￥<%= product_price_tag(item.total_price) %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        
      </div>
      <div class="panel-footer">
        订单总额：￥<%= product_price_tag(order.total_price) %>
        <span class="pull-right">
          下单日期：<%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </span>
      </div>
    </div>
    <% end %>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">用户统计</h3>
      </div>
      <div class="panel-body">
        用户总数：<%= User.count %>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">订单统计</h3>
      </div>
      <div class="panel-body">
        <p>订单总数：<%= Product.count %></p>
        <p>今日订单：<%= Order.today_count %></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">产品统计</h3>
      </div>
      <div class="panel-body">
        产品总数：<%= Product.count %>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">小区信息统计</h3>
      </div>
      <div class="panel-body">
        小区总数：<%= Apartment.count %>
      </div>
    </div>
  </div>

</div>