<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta charset='utf-8' />
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
  <meta name='viewport' content='width=1170'><!-- non responsive -->
  <%= stylesheet_link_tag  'front', 'data-turbolinks-track' => true %>
  <%= yield(:styles) %>
  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" />
  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  
  <%= render 'layouts/header' %>
  <%= yield(:sale_ad) if content_for?(:sale_ad) %>
  
  <div class="container">
    <% if content_for?(:sitemap) %>
    <div class="user-box container-box sitemap">
      <h2><a href="<%= root_path %>">首页</a> &gt;
        <%= yield :sitemap %>
      </h2>
    </div>
    <% end %>
    <%= notice_message %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
  <%= render 'layouts/footer' %>
  
  <div id="scrolltop" style="display: none;">返回顶部</div>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :scripts %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= Setting.google_analytics_key %>', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
